/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    /* padding: 4px; */
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    scroll-behavior: smooth;
}

.nav-main {
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 3%;
    background: #fff;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    /* transform: translateY(100px); */
}

.nav-main-hide{
    transform: translateY(-100px);
}

.sairam-logo {
    /* display: inline-block; */
    width: 13%;
}

.incubator-logo {
    /* display: inline-block; */
    width: 15%;
}

.nav-btns {
    display: flex;
    /* justify-content: center; */
    gap: 25px;
    align-items: center;
    width: fit-content;
    /* outline: 1px solid red; */
}

.nav-btns>a {
    text-decoration: none;
    color: rgb(69, 69, 69);
    position: relative;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.nav-btns>a:hover {
    transform: scale(1.05);
}

.contact-btn {
    margin-left: 10px;
    border: none;
    background: rgba(67, 137, 250, 255);
    padding: 7px 17px;
    color: #ebebeb !important;
    border-radius: 15px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.200);
}

.contact-btn:hover {
    transform: scale(1.1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.226);
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: rgba(67, 137, 250, 255);
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
}

.swiper {
    width: 100%;
    height: 500px;
    background: #868686;
    position: relative;
}

.swiper-slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-gradient {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(40, 40, 40, 0.02) 70%, rgba(40, 40, 40, 0) 100%);
}

.swiper-pagination,
.swiper-button-prev,
.swiper-button-next {
    color: #ebebeb;
}

.swiper-pagination>* {
    color: #ebebeb;
}

.apply-now {
    text-decoration: none;
    position: absolute;
    background: rgba(67, 137, 250, 255);
    padding: 10px 25px;
    cursor: pointer;
    color: #ebebeb;
    border-radius: 15px;
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.200);
    bottom: 50px;
    left: 45%;
    transition: transform 0.25s ease;
    z-index: 10;
    font-weight: 600;
}

.apply-now:hover {
    transform: scale(1.1);
}

.why-incubation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
    gap: 15%;
    width: 100%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(173, 204, 233, 0.5) 100%);
    box-shadow: inset 0px 0px 15px #ADCCE9;
}

.incubation-main {
    width: 40%;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.data h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 44px;
    font-weight: 700;
    color: rgba(17, 17, 17, 0.8);
}

.underline {
    border: none;
    height: 8px;
    background-color: rgba(67, 137, 250, 255);
    width: 50%;
    border-radius: 3px;
}

.desc-info {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #454545;
}

.incubation-points {
    width: 100%;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    background: linear-gradient(270deg, rgba(173, 204, 233, 0.5) 0%, rgba(173, 204, 233, 0) 61.46%);
}

.point-card {
    width: 45%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 3% 0;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.incubation-points h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: rgba(17, 17, 17, 0.8);
}

.underline-points {
    width: 30%;
    margin-bottom: 20px;
    height: 6px;
}

.incubation-points p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.projects {
    width: 100%;
    padding: 5%;
    background: linear-gradient(90deg, rgba(173, 204, 233, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    box-shadow: inset 0px 0px 15px #ADCCE9;
}

.our-projects {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: rgba(69, 69, 69, 0.8);
}

.projects-swiper {
    width: 90%;
    height: 500px;
    background-color: transparent;
    padding: 4% 0;
    padding-bottom: 8%;
    /* outline: 1px solid red; */
}

.projects-swiper-wrapper {
    /* outline: 1px solid red; */
    overflow-y: visible;
    padding: 2% 0;
}

.projects-swiper-slide {
    width: 54%;
    /* height: 80%; */
    /* margin-top: 50px; */
    background: cyan;
    border-radius: 15px;
    overflow-y: visible;
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
}

.projects-swiper-slide~.swiper-slide-active {
    background: white;
    z-index: 100;
    transform: scale(1.1);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.226);
}

.project-image-wrapper {
    width: 100%;
    overflow: hidden;
}

.project-image {
    width: 140%;
    transform: translate(-25%, 5%);
}

/* .projects-text-gradient{
    position: absolute;
    z-index: 22;
    width: 100%;
    height: 100%;
    /* top: 0; */
/* background: rgb(2,0,36); */
/* background: linear-gradient(-90deg, rgba(0,0,0,0.5) 0%, rgba(40,40,40,0.02) 70%, rgba(40,40,40,0) 100%); */
/* outline: 1px solid red; 
} */

.project-info {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 15px;
    height: 100%;
    width: 70%;
    background: rgb(2, 0, 36);
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.692) 0%, rgba(36, 36, 36, 0.493) 70%, rgba(0, 0, 0, 0) 100%);
    padding-left: 15%;
}

.our-team {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 100%;
    /* justify-content: space-between; */
    align-items: center;
    gap: 25px;
    background: linear-gradient(270deg, rgba(173, 204, 233, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
}

.team-cards {
    display: flex;
    padding: 2%;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px 0;
    /* gap: 5%; */
}

.container {
    position: relative;
    height: 450px;
    width: 350px;
    /* overflow: hidden; */
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    transition: 0.25s ease-out;
    border-radius: 10px;
    flex: 0 0 33%;
    transform: scale(0.93);
}

.container-bottom{
    margin-bottom: 15%;
}

.container:not(.container-bottom){
    transform: scale(0.87);
}

.container:hover {
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.container .image {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    transition: transform 0.25s ease-out;
    border-radius: 10px;
}

/* .container:hover .image {
    transform: translateY(-100px);
    padding-top: 25px;
} */

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.25s ease-out;
    border-radius: 10px;
}

.container:hover .image img {
    opacity: 0.7;
}

.container:hover .image {
    transform: translateY(-100px);
    /* padding-top: 25px; */
}

.container ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    list-style: none;
}

ul li {
    margin: 0 5px;
}

ul li a {
    display: block;
    height: 50px;
    width: 50px;
    color: #000;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(200px);
    background: #fff;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
    text-align: center;
}

.container:hover>ul>li>a {
    opacity: 1;
    transform: translateY(0);
}

.container:hover>ul>li:nth-child(2) a {
    transition-delay: 0.1s;
}

.container:hover>ul>li:nth-child(3) a {
    transition-delay: 0.2s;
}

.container:hover>ul>li:nth-child(4) a {
    transition-delay: 0.3s;
}

.container:hover>ul>li:nth-child(5) a {
    transition-delay: 0.4s;
}

.container .content {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(67, 137, 250, 255);
    border-radius: 12px;
}

.info {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    color: #fff;
    line-height: 26px;
}

.info h2 {
    font-size: 27px;
    margin: 3px 0;
}

.info span {
    color: #454545;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background: linear-gradient(90deg, rgba(173, 204, 233, 0.5) 0%, rgba(255, 255, 255, 0) 100%); */
    background: linear-gradient(180deg, rgba(173, 204, 233, 0.5) 0%, rgba(255, 255, 255, 0) 51.04%, rgba(236, 243, 250, 0.117021) 62.5%, rgba(173, 204, 233, 0.5) 100%);
    box-shadow: inset 0px 0px 30px #ADCCE9;
    padding: 5%
}

.map-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 1px solid red; */
    /* width: 20%; */
}

.logo-details{
    display: flex;
    flex-direction: column;
    /* padding: 2% */
}

.logo-details img{
    width: 70%;
}

.logo-details a{
    text-decoration: none;
    color: rgba(69, 69, 69, 1);
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 37px;
    /* position: relative;
    width: fit-content; */
}

.logo-details a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #454545;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.logo-details a:hover::after{
    transform: scaleX(1);
}

.logo-details i{
    font-size: 20px;
    color: rgba(67, 137, 250, 255);
    margin-right: 5%
}

.logo-details .fab{
    font-size: 22px;
}

form{
  width: 25rem;
  display: flex;
  flex-direction:column;
  background-color: #fff;
  height: 28rem;
  box-shadow:0 4px 12px 0 rgba(5,5,5,0.1);
  padding: 3% 5%;
  border-radius: 5px 0 0 5px;
}

form h1{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 44px;
    line-height: 58px;
    color: #454545;
    margin-bottom: 20px;
}

label
{
  font-size: 14px;
  /* margin-left: 1%; */
  color: #454545;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  margin-top: -5px;
}

input
{
  /* width:80%; */
  margin:5% 0;
  margin-bottom: 5%;
  border : none;
  outline: none;
  color: rgba(69, 69, 69, 1.0);
  background: none;
  border-bottom: 1px solid #454545;
}

input:focus{
    border-bottom: 2px solid #454545;
}

input[placeholder]{
    color: #454545;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 0;
}

textarea{
    border: none;
    border-bottom: 1px solid #454545;
    margin-bottom: 10%;
    margin-top: 5%;
    background-color: rgba(236, 236, 236, 0.432);
}

textarea:focus{
    border-bottom: 2px solid #454545;
    outline: none;
}

textarea[placeholder]{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

form button{
    border: none;
    padding: 4% 0;
    background-color: rgba(67, 137, 250, 255);
    color: #ebebeb;
    cursor: pointer;
    transition: box-shadow 0.25s ease;
}

form button:hover{
    box-shadow: 1px 5px 30px rgba(0, 0, 0, 0.253);
}

.map-contact iframe{
    border-radius: 0px 5px 5px 0;
}